/*===== Import Font =====*/

@font-face {
    font-family: 'Emberly';
    src: url('./font/Emberly-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Emberly';
    src: url('./font/Emberly-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*===== HTML Reset & Default Style =====*/

html {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    background-color: #C4BDB3;
    color: #1B1B19;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

/*===== Navigation Bar Styling =====*/

nav {
    min-width: 96px;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

#hamburger {
    height: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid black;
}

.line {
    height: 1px;
    width: 48px;
    margin: 8px 0;
    background-color: #1B1B19;
    transition: all ease-in 0.2s;
}

.nav-side {
    width: 100%;
    height: 84vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Emberly', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-side h1 {
    font-size: 1.5rem;
    margin-bottom: 64px;
}

.nav-side p {
    padding: 8px;
    padding-left: 6px;
    background-color: #B73C12;
    color: #C4BDB3;
    border-radius: 8px;
}

.nav-links {
    font-family: 'Emberly', serif;
    text-transform: uppercase;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B19;
    color: #C4BDB3;
    position: fixed;
    left: 100%;
    list-style: none;
    width: 100%;
    top: 0;
    height: 100%;
    transition: all ease 0.2s;
}

.nav-links li {
    margin: 24px;
}

.nav-links li a {
    transition: all ease-in 0.2s;
}

.nav-links li a:hover {
    color: #B73C12;
}

nav :checked~.nav-links {
    left: 96px;
}

nav :checked~#hamburger .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

nav :checked~#hamburger .line:nth-child(2) {
    transform: translateY(-9px) rotate(-45deg);
}

.container {
    display: flex;
}

/*===== Home Page Styling =====*/

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    font-size: 2rem;
    text-transform: uppercase;
    margin-right: 96px;
}

.emphasis {
    font-family: 'Emberly', serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}

.home-img {
    width: 574px;
    height: 636px;
    margin-top: 25px;
}

.home-btn {
    font-family: 'Emberly', serif;
    font-weight: 900;
    font-size: 3rem;
    padding: 16px;
    margin: 72px 0;
    padding-bottom: 12px;
    text-transform: uppercase;
    color: #C4BDB3;
    background-color: #B73C12;
    border: 0;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.home-btn:hover {
    background-color: #1B1B19;
    color: #B73C12;
}

/*===== About Page Styling =====*/
#about {
    display: flex;
    margin-right: 64px;
    margin-left: 160px;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.about-img {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: -1;
}

.about-img img {
    width: 496px;
    height: 642px;
}

.about-img h1 {
    font-family: 'Emberly', serif;
    color: #B73C12;
    font-size: 8rem;
    position: absolute;
    bottom: 24px;
    right: -200px;
}

.about-text {
    margin-top: 100px;
    margin-left: 90px;
}

.about-text p {
    text-transform: uppercase;
    margin-bottom: 25px;
}

/*===== Article Page Styling =====*/

#article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 96px;
    height: 100vh;
}

.article-container {
    margin: auto;
}

#article h1 {
    font-family: 'Emberly', serif;
    font-size: 4rem;
    margin-bottom: 16px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-container .card:nth-child(2) {
    margin: 0 16px;
}

.card {
    border: 1px solid black;
    padding: 32px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 16px 0;
}

.card img {
    width: 363px;
    height: 323px;
}

.card-title {
    width: 363px;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 24px;
    margin-bottom: 24px;
}

/*===== Article 1 Styling =====*/
.article {
    margin: 64px auto;
    width: 896px;
}

#article1 header {
    display: flex;
}

.return {
    padding: 47.5px 13px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return img {
    width: 24px;
}

.article header h1 {
    font-family: 'Emberly', serif;
    font-size: 4rem;
    margin-left: 24px;
}

.article .article-info {
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
}

.article .article-info p {
    margin-right: 32px;
    font-size: 1rem;
}

.article p {
    margin-bottom: 16px;
    font-size: 1.25rem;
}

table {
    font-size: 1.25rem;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: #1B1B19;
    color: #C4BDB3;
    padding: 16px 0;
}

tr td {
    border-right: 1px solid black;
}

td {
    padding: 16px 24px;
}

td li {
    margin-bottom: 16px;
}

/*===== Article 2 & 3 Styling =====*/
article {
    margin-bottom: 48px;
}

article h2 {
    margin-bottom: 16px;
}

#article1 ul li {
    list-style-type: circle;
    font-size: 1.25rem;
    margin-left: 24px;
}

/*===== Projects Page Styling =====*/
#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 96px;
    margin-bottom: 96px;
    padding: 32px;
}

.projects-container {
    margin: auto;
}

#projects h1 {
    font-family: 'Emberly', serif;
    font-size: 4rem;
    margin-bottom: 16px;
}

#projects .illustration {
    display: flex;
    justify-content: space-between;
}

#projects .illustration .card img {
    width: 363px;
    height: 363px;
}

#projects .illustration .card h2 {
    width: 363px;
}

#projects .photography,
#projects .website {
    padding: 32px;
    border: 1px solid black;
    margin-top: 32px;
    text-align: center;
}

#projects .photography img,
#projects .website img {
    width: 1280px;
    margin-bottom: 32px;
}

#projects .photography h2,
#projects .website h2 {
    font-family: 'Emberly', serif;
    font-size: 8rem;
    color: #B73C12;
}

#projects .photography p,
#projects .website p {
    font-size: 2rem;
}